

.payment_tabs .nav-link {
    width: 150px;
    height: 130px;
    display: inline-block;
    border: 1px solid #e6e6e6 !important;
    padding: 65px 5px 5px;
    text-align: center;
    color: #3c3c3c;
    margin: auto;
    background-position: center;
    margin-right: 30px;
    border-radius: 5px;
}
.payment_tabs .nav-link.active {
   background-color: #129cb8 !important;
   color: #ffffff !important;
}
.payment_tabs .nav-item:nth-child(1) .nav-link{
    background: url(../../../../src/images/easy-pasa.png) no-repeat;
    background-position: center 20px;
}
.payment_tabs .nav-item:nth-child(2) .nav-link{
    background: url(../../../../src/images/jazz.png) no-repeat;
    background-position: center 20px;
}
.payment_tabs .nav-item:nth-child(3) .nav-link{
    background: url(../../../../src/images/cash.png) no-repeat;
    background-position: center 20px;
}
.payment_tabs .nav-tabs {
    border-bottom: none;
}
.btn-continue{
    transition: all 0.3s;
    padding: 5px 50px;
    height: 45px;
    color: #ffffff;
    border: 1px solid #129cb8;
    background: #129cb8;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    margin: 30px 0;
}
.btn-continue:hover{
    transition: all 0.3s;
    color: #129cb8;
    border: 1px solid #129cb8;
    background: #ffffff;
}
h4{
    font-size: 18px;
    margin-bottom: 20px;
}
.easy-pasa ul li{
    list-style-type: initial;
}
.easy-pasa ul li::marker {
    color: #969696;
}
.or-li{
    list-style-type: none !important;
    padding-bottom: 10px;
    display: block;
}
.easy-pasa ul li p{
    color: #969696;
    font-size: 16px;
}
.easy-pasa ul{
   padding-left: 20px;
}
.pass-info label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.pass-info input {
    width: 370px;
}
.easy-pasa {
    padding: 30px 0 0;
}
.check-box{
    margin: 30px 0 0;
}
.jazz-ward h4 {
    margin: 0;
}
.jazz-ward h5 {
    color: #129cb8;
    margin: 0;
}
.jazz-cash{
    padding: 30px 0 0;
}


@media (max-width: 991px){
    .payment_tabs .nav-link {
        width: 120px;
        height: 130px;
        padding: 65px 5px 5px;
        margin-right: 10px;
        background-size: 40% !important;
        line-height: 18px;
    }
}

@media (max-width: 767px){
    .pass-info input {
        width: 100% !important;
    }
}

@media (max-width: 479px){
    .payment_tabs .nav-link {
        width: 74px;
        height: 100px;
        padding: 47px 5px 5px;
        margin-right: 10px;
        background-size: 29px !important;
        font-size: 14px;
    }
}