
.home-tabs-main{
    padding: 30px 0 0 0;
}
.nav-link{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    border: none;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-bottom: 2px solid #129cb8;
    color: #000000;
    border-top: none;
    border-left: none;
    border-right: none;
}
.nav-link.active {
    color: #495057;
    background-color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #129cb8;
}
.home-tabs-main .product_box_info{
    margin: 0 10px;
}