.history-head {
    font-size: 28px;
    text-align: left;
    color: #000000;
    margin: 0 0 10px;
}
.review-info table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
.review-info .table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
.review-info table tr {
    padding:20px 10px;
    vertical-align: top;
  }
  
  .review-info table th,
  .review-info table td {
    padding:20px 10px;
    text-align: center;
  }
  
  .order-table-info table th {
    font-size: 18px;
    letter-spacing: .1em;
    font-weight: 500;
  }
  .review-info table thead {
   border-bottom: 1px solid #e6e6e6;
  }
   .item-img img {
    width: 100px;
    height: 130px;
}
.detail-info  .price-tag span {
  padding-right: 10px;
  padding-bottom: 10px;
  display: inline-block;
}
.detail-info .old_price {
  color: #969696;
  font-size: 14px;
  text-decoration: line-through;
}
.detail-info .new_price {
  font-size: 18px !important;
  color: #129CB8;
  font-weight: 600;
}
.detail-info h2 {
  font-size: 16px;
  text-align: left;
  margin: 0;
  color: #000000;
  font-weight: 500;
}
.info-size-color{
  text-align: left;
}
.info-size-color li label{
  color: #000000;
  font-weight: 500;
  width: 50px;
  font-size: 16px;
}
.info-size-color li span{
  font-size: 16px;
}
.detail-info .price-tag {
  float: left;
  margin-top: 5px;
}
.inprocess-status {
  color: #F3B004;
  font-weight: 400;
  font-size: 16px;
}
.send-name p{
	color: #29B665;
	font-size: 16px;
	font-weight: 500;
}
.review-info tbody tr {
  border-bottom: 1px solid #e6e6e6;
}
.review-his{
	text-align: left;
	font-size: 16px;
}
@media (max-width: 991px){
  .review-info table th {
    font-size: 16px;
    letter-spacing: initial;
    font-weight: 500;
}
.item-img img {
  width: 70px;
  height: 100px;
}

}
  @media screen and (max-width: 767px) {
    .review-info  table {
      border: 0;
    }
    
    .review-info  table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .review-info table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    .review-info table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    .review-info table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .review-info table td:last-child {
      border-bottom: 0;
    }
    .detail-info h2 {
      text-align: right;
  }
  .detail-info .price-tag {
    float: right;
	}
	.info-size-color{
	text-align: right !important;
	margin-right: 10px;
	}
	.review-info table th, .review-info table td {
	padding: 10px;
	}
	.item-img img {
	width: 50px;
	height: 80px;
	}
	.review-info table tr {
	padding: 10px;
	vertical-align: top;
	background: #f8f8f8;
	border: 1px solid #e6e6e6;
	margin-bottom: 30px !important;
	}
	.detail-info .price-tag span {
	padding-bottom: 0;
	}
	.review-his {
		text-align: right;
	}

  }
  
  