
.wd-block {
    border: 1px solid #CECECE;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 2px;
	display: flex;
	margin: 0 10px;
	align-items: center;
}
/* .deal-of-week .main-title h2{
	border-bottom: 1px solid #E6E6E6;
	margin: 0 0 30px 0;
} */
.reviews {
    padding: 10px 0 25px 0;
}
.ws-info {
    padding: 20px;
}
.ws-info .section-title h5{
	font-size: 16px;
	color: #3C3C3C;
}
.ws-info .section-title p{
	font-size: 14px;
	color: #969696;
}
.old-proce{
	font-size: 16px;
	color: #969696;
	font-weight: 500;
	text-decoration: line-through;
}
.new-proce{
	font-size: 18px;
	color: #129CB8;
	font-weight: 500;
	padding: 0 0 0 10px;
}
.star svg{
	color: #F3B004;
}
span.rc {
    font-size: 14px;
    color: #9c9c9c;
    padding: 0 0 0 20px;
}
.ws-section{
	border-right: 1px solid #E6E6E6;
}
.cart-btn{
	padding: 20px 0;
}
/* Img Carasoul */
.carousel-item{
	min-height: auto !important;
}
.carousel-control-prev{
	display: none;
}
.carousel-control-next{
	display: none;
}
.carousel-inner .img-wrap{
	overflow: hidden;
}
.carousel-inner .img-wrap img{
	margin: 0 auto;
}

.carousel-indicators {
    /* width: 10px; */
    /* height: 10px; */
	/* background: #C4C4C4; */
	/* border-radius: 50%; */
	bottom: -50px;
}
.carousel-indicators button{
    width: 10px !important;
    height: 10px !important;
	background-color: #3C3C3C !important;
	border-radius: 50%;
}








.countdown-timer {
	text-align: center;
	border: 1px solid #969696;
	box-sizing: border-box;
	border-radius: 4px;
	margin-bottom: 20px;
}

.countdown-timer .cd-item {
	display: inline-block;
	background: #ffffff;
	padding: 10px;
	border-radius: 5px;
}

.countdown-timer .cd-item:last-child {
	margin-right: 0;
}

.countdown-timer .cd-item span {
	color: #000000;
	font-weight: 700;
	line-height: 10px;
	font-size: 14px;
}

.countdown-timer .cd-item p {
	font-size: 12px;
	color: #000000;
	margin-bottom: 0;
	text-transform: capitalize;
	letter-spacing: 1.5px;
}



/* ------------------------------ Responsive Media Styles ---------------------------- */



@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device: 1200px */


@media only screen and (max-width: 1024px) {
	.wd-block{
		flex-direction: column;
	}
	.section-title{
		padding: 20px 0 0 0;
	}
}

@media only screen and (max-width: 991px) {

	.deal-of-week {
		margin-left: 0;
		margin-right: 0;
	}
}


/* .slick-prev:before, .slick-next:before{
	color: #000000 !important;
}
.slick-prev, .slick-next{
	top: -45px !important;
}

.slick-prev{
	right: 30px !important;
	left: unset !important;
}
.slick-next{
	right: 0 !important;
}
 */


