.shipping-address {
    background: #f8f8f8;
    padding: 20px 10px;
    border: 1px solid #e6e6e6;
}
.shipping-address h4 {
    margin: 0 0 10px;
}
.shipping-address strong {
    color: #129cb8;
    margin-right: 7px;
}
.shipping-address span {
    color: #F3B004;
}
.shipping-address address {
    margin: 0;
}