
.footer-section {
	background: #3C3C3C;
	padding-top: 75px;
}
.footer-section p{
	margin: 0;
}
.f-heading{
	font-size: 20px;
	color: #ffffff;
	position: relative;
	margin: 0 0 20px 0;
}
.f-heading:after{
	content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 15%;
    height: 1px;
    background: #129cb8;
}
.info{
	padding: 0;
}

.footer-left ul li {
	list-style: none;
	color: #ffffff;
	font-size: 20px;
	line-height: 30px;
}

.adress li{
	display: flex;
	align-items: center;
	padding: 0 0 15px 0;
}
.adress li p{
	margin: 0;
	font-size: 16px;
	color: #ffffff;
	padding: 0 0 0 15px;
}
.footer-left .footer-social {
	padding-top: 25px;
}

.footer-widget ul li {
	list-style: none;
}

.footer-widget ul li a {
	line-height: 36px;
	font-size: 16px;
	color: #ffffff;
}
.copyright-text{
	border-top: 1px solid #969696;
	color: #129CB8;
    font-size: 20px;
} 
.copyright-reserved {
	text-align: center;
	font-size: 20px;
	padding: 15px 0 5px 0;
}

/* ------------------------------ Responsive Media Styles ---------------------------- */


@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Large Device: 480px */

@media only screen and (max-width: 767px) {
	
	.copyright-reserved {
		font-size: 15px;
	}
	
}