.description h3{
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.description p{
    font-size: 16px;
    font-weight: 400;
    color: #808080;
}
.description{
    margin-bottom: 30px;
}
.description h3 {
    border: none;
    margin: 0;
}
@media(max-width:479px){
    .nav-link {
        color: #000000;
        padding: 5px;
    }
    .ask-question p {
    font-size: 16px;
}
.question_ans p {
    font-size: 16px;
}
}