.carousel-item{
	background-size: cover;
	min-height: 460px;
	background-repeat: no-repeat;
}
.hero-section .carousel-caption{
	right: unset;
	top: 15%;
	text-align: left; 
	width: 35%;
}
.hero-section .carousel-caption h3{
	font-size: 60px;
	color: #000000;
	font-weight: 400;
	line-height: 55px;
	margin-bottom: 30px;
}
.hero-section .carousel-caption p{
	font-size: 30px;
	color: #000000;
	font-weight: 300;
	margin: 0;
}
.hero-section .cta-btn{
	background: #129CB8;
	border: 0;
	color: #ffffff;
	font-size: 16px;
	border-radius: 5px;
	padding: 5px 20px;
}
.hero-section .carousel-indicators{
	display: none;
}
.hero-section .carousel-control-prev{
	display: none;
}
.hero-section .carousel-control-next{
	display: none;
}
/* Tablet Device: 768px */
@media only screen and (max-width: 1440px) {
	
	.carousel-item{
		min-height: 440px;
	}
}

@media only screen and (max-width: 1300px) {
	
	.hero-section .carousel-caption h3{
		font-size: 50px;
		line-height: 50px;
	}
}

@media only screen and (max-width: 1200px) {
	.hero-section .carousel-caption {
		width: 40%;
	}
}

@media only screen and (max-width: 1024px) {
	
	.carousel-item{
		min-height: 330px;
	}
}

@media only screen and (max-width: 768px) {
	.carousel-item{
		min-height: 240px;
	}
	.hero-section .carousel-caption{
		top: 5%;
		left: 5%;
	}
	.hero-section .carousel-caption p{
		font-size: 20px;
	}
	.hero-section .carousel-caption h3{
		font-size: 25px;
		margin-bottom: 15px;
		line-height: 30px;
	}

	
}

@media only screen and (max-width: 479px) {
	.hero-section .carousel-caption {
		width: 50%;
	}
	.hero-section .carousel-caption{
		top: 0;
	}
	.carousel-item{
		min-height: 170px;
	}
	.hero-section .carousel-caption p{
		font-size: 15px;
	}
	.carousel-item{
		background-position: -40px;
	}
	
}

@media only screen and (max-width: 375px) {
	.carousel-item{
		min-height: 200px;
	}
	.carousel-item {
		background-position: -197px;
	}
}