.menu-links{
	display: flex;
	padding: 15px 0;
}
.menu-link ul li{
	padding: 0 30px;
}
  .menu-link ul li a{
	font-size: 20px;
	color: #000000;
	text-transform: capitalize;
	font-weight: 400;
	text-decoration: none;
  }
  
 
  .menu-link ul li:hover > a {
	transform-origin: left;
	color: #129CB8;
	transition: 0.5s;
  }
  .menu-link ul li.active a{
	color: #129CB8;
}
.hamburger-menu {
    display: none;
}
  /* responsive css style  */
  
  
  /* responsive css style  */
  @media (max-width: 991px) {
	
	.menu-link {
	  display: none;
	}
	.hamburger-menu {
		display: block;
		position: absolute;
		right: 3%;
		top: 15%;
	}
	.hamburger-menu svg{
		font-size: 30px;
		color: #129CB8;
	}

	.mobile-menu-link {
	  grid-column: 2/4;
	  position: relative;
	  z-index: 99;
	}
  
	.mobile-menu-link {
	  background-color: white;
	  height: 20rem;
	  display: grid;
	  grid-column: 2/5;
	  align-items: center;
	  padding-left: 3rem;
	  transition: all 2s linear;
	  transform-origin: top;
	  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
		position: absolute;
		top: 141px;
		width: 100%;
	}
  
	.mobile-menu-link ul {
	  height: 20rem;
	  display: flex;
	  justify-content: space-around;
	  flex-direction: column;
	  align-items: start;
	}
  
	.mobile-menu-link ul li:first-child {
	  transition-delay: 0.2s;
	}
  

  
  }
  
 
  @media (max-width: 479px) {
	.hamburger-menu {
		top: 12%;
		}
  }


  @media (max-width: 320px) {
	.hamburger-menu {
		top: 14%;
	}
  }
  